#3.3 Pseudocode Self Check

In [1]:
number1 = 10

number2 = 5

total = number1 + number2

print('The sum of', number1, 'and', number2, 'is', total)

The sum of 10 and 5 is 15

#3.4 Control Statements Self Check

#Q1. You can write all Programs using three forms of control- SEQUENTIAL EXECUTION, SELECTION STATEMENT, and REPITITION STATEMENT.
#Q2. A FLOWCHART is a graphical representation of an algorithm

#3.5 if Statement Self Check

#1.If you indent a suite's statements, you will not get an IndentationError.
    #1a. false. All statments in a suite must have the same indentation. Otherwise an IndentationError occurs.

In [2]:
#2
grade=85

if grade >=60:
    print('Passed')
    
grade = 55
if grade >=60:
      print('Passed')

Passed

= shows that something is something example: control=27. == shows that something is equivalent example: color == colour (useful for true/false statements)

#3.6 if/else/elif Statements

In [3]:
grade=99

if grade>=80:
    print('Passed')
    
else:
    print('Failed')

Passed

In [4]:
grade=12

if grade>=80:
    print('Passed')
    
else:
    print('Failed')

Failed

In [5]:
grade=60
if grade>=60:
    print('Passed')
else:
    print('Failed')

Passed

In [6]:
grade=34

result=('passed' if grade >= 60 else 'failed')

print(result)

failed

In [7]:
grade=87
result=('passed' if grade >= 60 else 'failed')
print(result)

passed

In [8]:
grade=44

if grade>=60:
    print('Passed')
    
else:
    print('Failed')
    print('You must take this class again')

Failed
You must take this class again

In [9]:
grade=44
if grade>=90:
    print('A')
    
elif grade>= 80:
    print('B')
    
elif grade>= 70:
    print('C')
    
elif grade>= 60:
    print('D')
    
else:
    print('F')

F

In [10]:
grade=79

if grade>=90:
    print('A')
    
elif grade>= 80:
    print('B')
    
elif grade>= 70:
    print('C')
    
elif grade>= 60:
    print('D')
    
else:
    print('F')

C

#3.6 if/else/elif Statements Self Check

Q1. A fatal logic error causes a script to produce incorrect results
    Answer: False. A fatal logic error causes a script to terminate

#Q2
grade=86

if grade>=90:
    
     print('A')
else:
    
    print('Not A or B')
    
elif grade>= 80

#3.7 while statements

In [11]:
product = (3)

while product <= 50:
    
    product = product * 3
    
product

81

In [12]:
product = (521)

while product <= 50:
    
    product = product * 3
    
product

521

In [13]:
product = (7)

while product <= 50:
    product = product * 3
    
product

63

3.7. Self Check

Q1. A -while- statement performs its suit while some condition remains true.
       A. True

In [14]:
#Q2.
product = (7)

while product <= 1000:
    
    product = product * 7
    
product

2401

#3.8 For statements

In [15]:
for character in 'programming':
    print(character, end=' ')

p r o g r a m m i n g

In [16]:
for character in 'programming':
    print(character, end=' 3 ')

p 3 r 3 o 3 g 3 r 3 a 3 m 3 m 3 i 3 n 3 g 3

In [17]:
for character in '21':
    print(character, end=' 3 ')

2 3 1 3

In [18]:
print(10, 20, 30, sep=', ')

10, 20, 30

In [19]:
total = 0 
for number in (2, -3, 0, 17, 9):
    total = total+number
total

25

In [20]:
total = 22 
for number in (2, -3, 0, 17, 9):
    total = total+number
total

47

In [21]:
total = 0

for number in (2, -3, 0, 17, 9):
    total = total + number * 2**2
total

100

In [22]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

In [23]:
for counter in range(10):
    print(counter, end=' 2 2 ')

0 2 2 1 2 2 2 2 2 3 2 2 4 2 2 5 2 2 6 2 2 7 2 2 8 2 2 9 2 2

In [24]:
for counter in range(10):
    print(counter, end='10 ')

010 110 210 310 410 510 610 710 810 910

3.8 Self check 
    Q1. Function Range generates a sequence of integers.

In [25]:
#Q2
Total = (0)

for number in range(1000001):
    Total = Total + number
Total

500000500000

#3.9 Augmented Assignments

In [26]:
total = 0
for number in (1,2,3,4,5):
    total += number
total

15

In [27]:
total = 0
for number in (1,3,6,114,5):
    total += number
total

129

In [28]:
total = 0
for number in (1,3,6,114,5):
    total -= number
total

-129

In [29]:
total = 1
for number in (1,2,2,14,5):
    total *= number
total

280

3.9 Self check
    Q1-A. if X is , the value of X after evaluating X *=5 is 35

In [30]:
#Q2
X=12

X**=2

X

144

3.10 Program Development: Sequence-Controlled Repetition

grades= (98, 76, 71, 87, 83, 90, 57, 79, 82, 94)

In [31]:
Total=0

grade_counter = 0

grades= (98, 76, 71, 87, 83, 90, 57, 79, 82, 94)

for grades in grades:
    Total+= grade
    grade_counter += 1
    
average = Total / grade_counter

print(f'Class average is {average}')

Class average is 79.0

In [32]:
Total=0

control_counter = 0

controls = (12, 14, 16, 9, 16, 13, 12)

for controls in controls:
    Total += controls
    control_counter += 1
    
average = Total / control_counter

print(f'control average is {average}')

control average is 13.142857142857142

In [33]:
Sheds=0

Shed_counter = 0

Sheds_per_street = (1, 2, 4, 2, 6, 3, 4)

for Sheds_per_street in Sheds_per_street:
    Sheds += Sheds_per_street
    Shed_counter = 1
    
average = Sheds / Shed_counter

print(f'There are {average} sheds in the neighborhood')

There are 22.0 sheds in the neighborhood

3.10 Self Checks
    Q1-A. A requirements statement describes what a program is supposed to do, but not how the program should do it.
    Q2-A. Many of the scripts you'll write can be decomposed into three phases initialization, processing, and termination.

In [34]:
#Q3

number1 = 7

number2 = 5

print(f'{number1} times {number2} is {number1 * number2}')

7 times 5 is 35

3.13 Built in functions

In [35]:
for number in range(1,8):
    print(number, end=' ')

1 2 3 4 5 6 7

In [36]:
for number in range(-7,3):
    print(number, end=' ')

-7 -6 -5 -4 -3 -2 -1 0 1 2

In [37]:
for number in range(-7, 3, 2):
    print(number, end=' ')

-7 -5 -3 -1 1

In [38]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

In [39]:
for number in range(-90, 98, 32):
    print(number, end=' ')

-90 -58 -26 6 38 70

3.14 Using Type Decimal for Monetary Amounts

In [40]:
amount=112.31

print(amount)

print(f'{amount:.20f}')

from decimal import Decimal

principal = Decimal('1000.00')
principal
rate= Decimal('0.05')
rate

x=Decimal('10.5')

y=Decimal('2')

x+y

x//y

x += y

x

112.31
112.31000000000000227374

Decimal('12.5')

3.15 break and continue Statements

In [41]:
for number in range(99):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [42]:
for number in range(99):
    if number == 6:
        continue
    print(number, end=' ')

0 1 2 3 4 5 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98

In [43]:
for number in range(0, 99, 3):
    if number == 6:
        continue
    print(number, end=' ')

0 3 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96

In [44]:
for number in range(0, 99, 3):
    if number == 6:
        continue
    if number == 12:
        continue
    if number == 12:
        continue
    if number == 27:
        break
    print(number, end=' ')

0 3 9 15 18 21 24

3.16 Boolean Operators and, or and not. Self Check

In [45]:
#Q1 a

i=1

j=2

k=3

m=2

(i >=1) and (j <4)

True

In [46]:
#Q1 b

i=1

j=2

k=3

m=2
(m <= 99) and (k <m)

False

In [47]:
#Q1 c
i=1

j=2

k=3

m=2
(j >=1) or (k== m)

True

In [48]:
#Q1 d
i=1

j=2

k=3

m=2
(j >=1) or (k== m)

True

In [49]:
#Q1 e
i=1

j=2

k=3

m=2
(k+m <j) or (3 - j >=k)

False

In [50]:
#Q1 e
i=1

j=2

k=3

m=2

not(k > m)

False

6. Calculate Measures of Central Tendency - Native Python

In [51]:
#Count
Values = (47, 95, 88, 73, 88, 84)

len(Values)

6

In [52]:
#sum
Values = (47, 95, 88, 73, 88, 84)

sum(Values)

475

In [53]:
#mean
Values = (47, 95, 88, 73, 88, 84)

sum(Values) / len(Values)

79.16666666666667

7. Calculate Measures of Central Tendency - with Statistic Module

In [54]:
import statistics

Values = (47, 95, 88, 73, 88, 84)

statistics.mean(Values)

79.16666666666667

In [55]:
import statistics

Values = (47, 95, 88, 73, 88, 84)

statistics.median(Values)

86.0

In [56]:
import statistics

Values = (47, 95, 88, 73, 88, 84)

statistics.mode(Values)

88

8. Custom Central Tendency (Control Data)

In [57]:
#Count
Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

len(Control_Data)

10

In [58]:
#Sum
Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

sum(Control_Data)

251.03

In [59]:
#Mean1
Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

sum(Control_Data) / len(Control_Data)

25.103

In [60]:
#Mean2
Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

statistics.mean(Control_Data)

25.103

In [61]:
#Median

Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

statistics.median(Control_Data)

25.275

In [62]:
#Mode
Control_Data=(24.01, 26.54, 27.3, 22.22, 31.54, 18.12, 22.5, 28.1, 23.4, 27.3)

statistics.mode(Control_Data)

27.3

Mike Abbinante CH3 Notebook